<header>
  <a href="/" class="button_class"><%= t('.home') %></a>
  <a href="/contact" class="button_class"><%= t('.contact') %></a>
  <a href="/tickets" class="button_class"><%= t('.book') %></a>

</header>