<h1><%= t('.editing_ticket')%></h1>

<%= render 'form', ticket: @ticket %>

<%= link_to t('tickets.index.show'), @ticket, class: 'button_class' %>
<%= link_to t('tickets.new.back'), tickets_path, class: 'button_class' %>
